<configuration>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File Appender for restCall.log -->
    <appender name="REST_CALL_FILE" class="ch.qos.logback.core.FileAppender">
        <!--<file>D:/log/ecommerce/restCall.log</file>--> <!-- Log file location -->
        <file>/var/log/ecommerce/restCall.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
<!--    <logger name="com.ecommerce.ecommnerce.aspects.LogAspect" level="DEBUG" additivity="false">-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--        <appender-ref ref="REST_CALL_FILE"/>-->
<!--    </logger>-->

    <!-- Root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="REST_CALL_FILE"/>
    </root>

</configuration>